<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Boostnere</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="Alvaro Gutierrez"/>

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>

    <!-- Material Icon -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css">

    <!-- Custom  scss -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--animations-->
    <script src="{% static 'js/animations.js' %}"></script>
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="58">
<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mensaje</h5>
            </div>
            <div class="modal-body">
                <!--mensajes-->
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--script-->
{% if messages %}
<script src="{% static 'js/messages.js' %}"></script>
{% endif %}
<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
    <div class="container">
        <a class="navbar-brand logo" href="#">
            <img src="{% static 'images/logo-light.png' %}" alt="" class="logo-light" height="20"/>
            <img src="{% static 'images/logo-dark.png' %}" alt="" class="logo-dark" height="20"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbar-navlist">
                <li class="nav-item">
                    <a href="#home" class="nav-link" id="scrollElement">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">Sobre nosotros</a>
                </li>
                <li class="nav-item">
                    <a href="#features" class="nav-link">Servicios</a>
                </li>
                <!--                <li class="nav-item">-->
                <!--                    <a href="#clients" class="nav-link">Clients</a>-->
                <!--                </li>-->
                <!--                <li class="nav-item">-->
                <!--                    <a href="#pricing" class="nav-link">Plans</a>-->
                <!--                </li>-->
                <!--                <li class="nav-item">-->
                <!--                    <a href="#contact" class="nav-link">Contactanos</a>-->
                <!--                </li>-->
                <li class="nav-item">
                    <a href="#contact" class="btn btn-info btn-sm navbar-btn my-lg-0 my-2"
                       id="btnContacto">Contactanos</a>
                </li>
            </ul>
            <!--            <a class="btn btn-info btn-sm navbar-btn my-lg-0 my-2" href="{% url 'login' %}">Iniciar Sesión</a>-->
        </div>
    </div>
</nav>
<!-- Navbar End -->

<!-- Inicio-->
<section class="hero-6 position-relative d-flex justify-content-center align-items-center" id="home">
    <div class="hero-6-bg" style="background-color: #02000c;"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="hero-6-content text-center mt-5">
                    <div class="hero-icon bg-soft-light rounded-circle mb-3 mx-auto">
                        <i class="mdi mdi-hexagon-multiple-outline text-white"></i>
                    </div>
                    <h3 class="text-white fw-normal mb-4">Hello, Everyone !</h3>
                    <h1 class="hero-6-title text-white fw-normal mb-3 tracking-in-expand animate-tracking-in-expand">We
                        Provide Best Solution</h1>
                    <p class="text-muted font-18 mb-4">Do one chap gutted mate cheesed off dropped a lorem ipsum dolor
                        sit amet clanger crikey cheeky a Queen's English bog blimey ummm I'm telling.!</p>
                    <a href="#contact" class="btn btn-info heartbeat">Contactanos</a>
                    <!--                    <a href="#" class="btn btn-outline-info ms-1">Discover More</a>-->
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- Inicio End -->

<!-- Sobre nosotros -->
<section class="section" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="text-center mb-5">
                    <h3 class="mb-3">A digital web design studio creating modern & engaging online</h3>
                    <p class="text-muted">
                        If several languages coalesce, the grammar of the resulting language is more simple and regular
                        than that of the individual languages new common will be more regular than the existing If
                        several is more
                        simple and regular than that of the individual languages new common will be more regular than
                        the existing
                    </p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row slide-in-top animate-slide-in-top">
            <div class="col-lg-4 col-md-4">
                <div class="text-center p-4">
                    <div class="icons-xl mb-3">
                        <i class="uim uim-ruler"></i>
                    </div>

                    <h5>Web Designing</h5>
                    <p class="text-muted">If several languages coalesce, the grammar of the resulting language is more
                        regular than that of the individual</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="text-center p-4">
                    <div class="icons-xl mb-3">
                        <i class="uim uim-repeat"></i>
                    </div>

                    <h5>Programming</h5>
                    <p class="text-muted">To achieve this, it would be necessary to have uniform more common several
                        languages coalesce</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="text-center p-4">
                    <div class="icons-xl mb-3">
                        <i class="uim uim-airplay"></i>
                    </div>

                    <h5>Software Development</h5>
                    <p class="text-muted">For science, music, sport, etc, Europe uses the same vocabulary only differ in
                        their pronunciation.</p>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end Sobre nosotros -->

<!-- Start Servicios -->
<section class="section bg-light" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center title mb-5">
                    <p class="text-muted text-uppercase fw-normal mb-2">Features</p>
                    <h3 class="mb-3">Key features of the product</h3>
                    <div class="title-icon position-relative">
                        <div class="position-relative">
                            <i class="uim uim-arrow-circle-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row align-items-center">
            <div class="col-lg-5 order-2 order-lg-1">
                <div class="mt-4 mt-lg-0">
                    <h4>Improve your Marketing business</h4>
                    <p class="text-muted mt-3">If several languages coalesce, the grammar of the resulting language is
                        more regular.</p>

                    <div>
                        <p class="mb-2 text-muted">
                            <span class="uim-icon-info me-2 align-middle"><i class="uim uim-check-circle"></i></span>Donec
                            vitae sapien ut
                        </p>
                        <p class="mb-2 text-muted">
                            <span class="uim-icon-info me-2 align-middle"><i class="uim uim-check-circle"></i></span>In
                            enim justo, rhoncus imperdiet
                        </p>
                        <p class="text-muted">
                            <span class="uim-icon-info me-2 align-middle"><i class="uim uim-check-circle"></i></span>Maecenas
                            nec odio et
                        </p>
                    </div>
                    <div class="mt-4">
                        <a href="#" class="text-primary">Learn more..</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 ms-lg-auto col-sm-8 order-1 order-lg-2">
                <div class="">
                    <img src="{% static 'images/features/img-1.jpg' %}" alt=""
                         class="img-fluid mx-auto d-block rotate-in-2-fwd-cw animate-rotate-in-2-fwd-cw"/>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-8">
                <div class="features-img mt-4">
                    <img src="{% static 'images/features/img-2.jpg' %}" alt=""
                         class="img-fluid mx-auto d-block img-thumbnail swing-in-top-fwd animate-swing-in-top-fwd"/>
                </div>
            </div>

            <div class="col-lg-5 ms-lg-auto">
                <div class="mt-5 mt-lg-4">
                    <h4>Improve your Marketing performance</h4>
                    <p class="text-muted mb-2 mt-3">It will be as simple as in fact, it will be Occidental. To an
                        English person, it will seem like simplified</p>
                    <p class="text-muted">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur
                        velit</p>
                    <div class="mt-4">
                        <a href="#" class="text-primary">Learn more..</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- End Servicios -->

<!-- Start contact -->
<section id="contact" class="slide-bottom animate-slide-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card contact-section-card mb-0">
                    <div class="card-body p-md-5">
                        <div class="text-center title mb-5">
                            <h3 class="mb-3">¿ Tienes preguntas ?</h3>
                            <p class="text-muted text-uppercase fw-normal mb-2">Contactanos</p>
                            <div class="title-icon position-relative">
                                <div class="position-relative">
                                    <i class="uim uim-arrow-circle-down"></i>
                                </div>
                            </div>
                        </div>

                        <!-- start form -->
                        <form method="post" action="{% url 'contact' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="id_name">Nombre</label>
                                        <input name="name" id="id_name" type="text"
                                               class="form-control {% if 'name' in form.errors %}is-invalid{% endif %}"
                                               placeholder="Introduce tu nombre..." value="{{ form.name.value }}"/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="id_email">Correo electrónico</label>
                                        <input name="email" id="id_email" type="email"
                                               class="form-control {% if 'email' in form.errors %}is-invalid{% endif %}"
                                               placeholder="Introduce tu correo electrónico..."
                                               value="{{ form.email.value }}"/>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->

                            <div class="mb-3">
                                <label class="form-label" for="id_subject">Asunto</label>
                                <input name="subject" id="id_subject" type="text"
                                       class="form-control {% if 'subject' in form.errors %}is-invalid{% endif %}"
                                       placeholder="Introduce el asunto..." value="{{ form.subject.value }}"/>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="id_message">Mensaje</label>
                                <textarea name="message" id="id_message" rows="3"
                                          class="form-control {% if 'message' in form.errors %}is-invalid{% endif %}"
                                          placeholder="Introduce el mensaje que deseas enviar...">{{ form.message.value }}</textarea>
                            </div>

                            <div class="text-end">
                                <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary"
                                       value="Enviar mensaje"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>


<!-- end contact -->

<!-- start footer -->
<footer class="footer bg-dark text-white-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a href="#" class="d-block mb-3">
                    <img src="{% static 'images/logo-light.png' %}" alt="" height="20"/>
                </a>
                <p>Boostnere Landing Page</p>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="mt-4 mt-lg-0">
                    <h5 class="mb-4 font-18 text-white">Links</h5>
                    <ul class="list-unstyled footer-list-menu">
                        <li><a href="#">Inicio</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="mt-4 mt-lg-0">
                    <h5 class="mb-4 font-18 text-white">Resources</h5>
                    <ul class="list-unstyled footer-list-menu">
                        <!--                        <li><a href="#">Help Center</a></li>-->
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="mt-4 mt-lg-0">
                    <h5 class="mb-4 font-18 text-white">Social</h5>
                    <ul class="list-inline social-icons-list">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/Boostnere"><i class="mdi mdi-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/boostnere/"><i class="mdi mdi-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="mdi mdi-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="mailto:boostnere@gmail.com"><i class="mdi mdi-gmail"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</footer>
<!-- end footer -->

<!-- Start footer-alt -->
<section class="footer-alt py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center text-white-50">
                    <p class="mb-0">
                        <script>document.write(new Date().getFullYear())</script>
                        © Boostnere
                    </p>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end footer-alt -->
<!-- Javascript -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- unicons -->
<script src="https://unicons.iconscout.com/release/v2.1.11/script/monochrome/bundle.js"></script>

<!-- app js -->
<script src="{% static 'js/app.js' %}"></script>
</body>

</html>
