{% load i18n %} {% load static %}
{% with request.resolver_match.url_name as path_name %}
<nav class="navbar navbar-light">
	<div class="navbar-left">
		<div class="logo-area">
			<a class="navbar-brand" href="{% url 'home' %}">
			<img
				class="dark"
				src="{% static 'backend/img/logo_dark.svg' %}"
				alt="svg"
				/>
			<img
				class="light"
				src="{% static 'backend/img/logo_white.svg' %}"
				alt="img"
				/>
			</a>
			<a href="#" class="sidebar-toggle">
			<img
				class="svg"
				src="{% static 'backend/img/svg/align-center-alt.svg' %}"
				alt="img"
				/></a>
		</div>
		<div class="top-menu">
			<div class="hexadash-top-menu position-relative">
				<ul>
					<li class="has-subMenu">
						<a href="#" class="">Layouts</a>
						<ul class="subMenu">
							<li class="l_sidebar">
								<a href="#" data-layout="light">Light Mode</a>
							</li>
							<li class="l_sidebar">
								<a href="#" data-layout="dark">Dark Mode</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="navbar-right">
		<ul class="navbar-right__menu">
			<li class="nav-search">
				<a href="#" class="search-toggle">
				<i class="uil uil-search"></i>
				<i class="uil uil-times"></i>
				</a>
				<form action="/" class="search-form-topMenu">
					<span class="search-icon uil uil-search"></span>
					<input
						class="form-control me-sm-2 box-shadow-none"
						type="search"
						placeholder="Search..."
						aria-label="Search"
						/>
				</form>
			</li>
			<li class="nav-author">
				{% if user.is_authenticated %}
				<div class="dropdown-custom">
					<a href="javascript:;" class="nav-item-toggle"
						><img
						src="{{ user.userprofile.image.url }}"
						alt="{{ user.username }}"
						class="rounded-circle wh-34 bg-opacity-secondary"
						/>
					<span class="nav-item__title"
						>{{ user.get_full_name }}<i
						class="las la-angle-down nav-item__arrow"
						></i
						></span>
					</a>
					<div class="dropdown-parent-wrapper">
						<div class="dropdown-wrapper">
							<div class="nav-author__info">
								<div class="author-img">
									<img
										src="{{ user.userprofile.image.url }}"
										alt="{{ user.username }}"
										class="rounded-circle wh-34 bg-opacity-secondary"
										/>
								</div>
								<div>
									<h6>{{ user.username }}</h6>
									<span>{{ user.UserProfile.position }}</span>
								</div>
							</div>
							<div class="nav-author__options">
								<ul>
									<li>
										<a href="">
										<img
											src="{% static 'backend/img/svg/user.svg' %}"
											alt="user"
											class="svg"
											/>
										Profile</a
											>
									</li>
									<li>
										<a href="">
										<img
											src="{% static 'backend/img/svg/settings.svg' %}"
											alt="setting"
											class="svg"
											/>
										Settings</a
											>
									</li>
									<li>
										<a href="">
										<img
											src="{% static 'backend/img/svg/key.svg' %}"
											alt="key"
											class="svg"
											/>
										Billing</a
											>
									</li>
									<li>
										<a href="">
										<img
											class="svg"
											src="{% static 'backend/img/svg/users.svg' %}"
											alt="users"
											/>
										Activity</a
											>
									</li>
									<li>
										<a href="">
										<img
											src="{% static 'backend/img/svg/bell.svg' %}"
											alt="bell"
											class="svg"
											/>
										Help</a
											>
									</li>
								</ul>
								<a
									href="{% url 'sign_out' %}"
									class="nav-author__signout"
									>
								<i class="uil uil-sign-out-alt"></i> Sign
								Out</a
									>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
			</li>
		</ul>
		<div class="navbar-right__mobileAction d-md-none">
			<a href="#" class="btn-search">
			<img src="{% static 'backend/img/svg/search.svg' %}"
				alt="search"
				class="svg feather-search"/>
			<img src="{% static 'backend/img/svg/x.svg' %}"
				alt="x"
				class="svg feather-x"/>
			</a>
			<a href="#" class="btn-author-action">
			<img class="svg"
				src="{% static 'backend/img/svg/more-vertical.svg' %}"
				alt="more-vertical" /></a>
		</div>
	</div>
</nav>
{% endwith %}